/* ===== See More Blogs (All Blogs) Page Styling ===== */
#blog {
    padding-top: 8rem;
}

#blog > h2 {
    margin-bottom: 3rem;
}

#blog .blog__container {
    padding-bottom: 2rem;
}

@media screen and (max-width: 600px) {
    #blog {
        padding-top: 6rem;
    }
}